*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding:5px 0;
	background-color: brown ;
}
.medsos ul li{
	display: inline-block;
	color: #fff;
}
.container{
	width: 80%;
	margin: 0 auto;
	color: #fff;
}
.container::after{
	content: '';
	display: block;
	clear: both;
}
header h1{
	float: left;
	padding: 15px 0;
	color: #BFC9CA ;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: brown;
	color: #fff;
}	
h2{
	color:lightyellow;
}
h3{
	color:#FFF;
}
body{
	background-image: url(../img/banner.jpg);
	background-size: cover;
}
}
}